name: Contentful Migration Example

on: 
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
   
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '14.x'

    - name: Run install contentful CLI
      run: npm install -g contentful-cli

    - name: Install deps
      run: npm install    
    
    - name: Run contentful Login
      run: contentful login --management-token ${{ secrets.CONTENTFUL_MANAGEMENT_API }}

    - name: Run contentful migration
      run: npm run create && npm run edit
      env:
        CONTENTFUL_MANAGEMENT_API: ${{ secrets.CONTENTFUL_MANAGEMENT_API }}
        CONTENTFUL_SPACE_ID: ${{ secrets.SPACEID }}
        CONTENTFUL_ENVIRONMENT_ID: ${{ secrets.ENVIRONMENTID }}
    
    
    - name: Run contentful develop to nonprod
      run: npm run export && npm run import
      env:
        CONTENTFUL_MANAGEMENT_API: ${{ secrets.CONTENTFUL_MANAGEMENT_API }}
        CONTENTFUL_SPACE_ID: ${{ secrets.SPACEID }}
        CONTENTFUL_ENVIRONMENT_ID: ${{ secrets.ENVIRONMENTID }}

    - name: Create commit comment
      uses: peter-evans/commit-comment@v1
      with:
        body: |
          See changes made in nonprod Environment on Contentful.