name: Contentful Migration Example

on: 
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
   
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '14.x'

    - name: Install deps
      run: npm install

    - name: Restore Cache
      uses: actions/cache@v2
      with:
        path: |
          node_modules
          */*/node_modules
        key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}
    
    - name: Run contentful migrations Main
      run: npm run delete
      env:
        CONTENTFUL_MANAGEMENT_API: ${{ secrets.CONTENTFUL_MANAGEMENT_API }}
        CONTENTFUL_SPACE_ID: ${{ secrets.SPACEID }}
        CONTENTFUL_ENVIRONMENT_ID: ${{ secrets.ENVIRONMENTID }}


    - name: Create commit comment
      uses: peter-evans/commit-comment@v1
      with:
        body: |
          See changes to the [${{steps.migrate.outputs.environment_name }} ][1] Environment on Contentful.

          [1]: ${{steps.migrate.outputs.environment_url}}